@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #fffdf9;
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  font-family: "Inter", sans-serif;
}

.loading{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: #ffffffd9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.loading .logo{
  font-size: 1.8rem;
  gap: 1rem;
}

.navbar{
  display: flex;
  flex-direction: row;
  padding: .8rem 2rem;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ebe9df;
}

.stylize{
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  /* font-style: italic; */
  color: #ff4f00;
  font-size: 1.2rem;
}
.logo{
  font-family: "Poppins", sans-serif;
  /* font-family: "Inter", sans-serif; */
  font-weight: 600;
  /* letter-spacing: -2px; */
  font-style: normal;
  font-size: 1.3rem;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.logo a{
  text-decoration: none;
  color: #000;

}
.b{
  padding: .1rem 10px;
  margin: .2rem;
  font-size: 1.3rem;
  border-radius: .2rem;
  background-color: #ff4f00;
  color: #fffdf9;
}

.socials{
  display: flex;
  gap: .7rem;
  align-items: center;
}

.socials a{
  text-decoration: none;
  padding: .4rem 1.5rem;
  border-radius: .5rem;
  /* border-radius: 10rem; */
  font-size: .8rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 6px;
}
.socials a i{
  font-size: 1rem;
}

.twitter-btn{
  color: #fffdf9;
  background-color: #ff4f00;
  border: 1px solid #ff4f00;
  /* font-weight: 00; */
}
.twitter-btn:hover{
  color: #fffdf9;
  background-color: #D24304;
  border: 1px solid #D24304;
  /* box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.03); */
  /* font-weight: 00; */
}
.github-btn{
  color: #201515;
  border: 1px solid #201515;
}
.github-btn:hover{
  background-color: #dbdbdb;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}


.sidebar{
  width: 250px;
  background-color: #fafafa;
  background-color: #f5f5f5;
  /* background-color: #fffdf9; */
  padding: 1rem .9rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: width .6s ease-out;
  border-right: 1px solid #ddd;
}
.sidebar-collapse{
  width: 0;
  display: none;
}

.hamberger{
  display: none;
}
.hamberger i{
  padding: .5rem .7rem;
  background-color: #eaeaea5f;
  color: #ff4f00;
  border-radius: .5rem;
}
.hamberger-collapse{
  display: block;
  position: absolute;
  left: 1rem;
  top: 4.5rem;
}

.sidebar-header{
  display: flex;
  align-items: center;
  padding: 0.1rem 0 .75rem 0;
  /* margin-bottom: 40px; */
  justify-content: space-between;
  border-bottom: 1px solid #ebe9df;
  width: 100%;
  background-color: #fff;
  padding: .5rem 0.6rem;
  border-radius: .7rem;
}
.user-info{
  display: flex;
  align-items: center;
  width: 65%;
}
.profileImg{
  border-radius: .4rem;
  width: 2.5rem;
  margin-right: 10px;
}
.name{
  font-size: 1.1rem;
  margin: 0;
  font-weight: 600;
  color: #000;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}
.username{
  font-size: .7rem;
  font-weight: 500;
  color: #636060;
  color: #555;
  cursor: pointer;
}
.acc-details{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.sidebar-header i{
  color: #636060;
  cursor: pointer;
}


.menu{
  display: flex;
  flex-direction: column;
  font-size: .9rem;
  /* padding: 1rem; */
  cursor: pointer;
  color: #555;
  color: #000;
  gap: .5rem;
  /* gap: .2rem; */
}
.menu-item{
  padding: .6rem 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: .4rem;
  /* background-color: #eaeaea55; */
  border-radius: .7rem;
  background-color: #fff;
  /* background-color: #fffdf9; */
}
.active {
  font-weight: 500;
  color: #ff4f00;
  background-color: #ff510021;
}
/* .disabled{
  mask-image: rgba(0, 0, 0, 0.562);
/* mask-image: image(url(mask.png), skyblue); */


.menu-item:hover {
  /* color: #ff4f00; */
  background-color: #eaeaea5f;
  background-color: #ffe3d6;
}

.logout{
  background-color: #cccccc4d;
  color: #ff4f00;
  color: #555555;
  font-size: .8rem;
  margin-top: auto;
  padding: .5rem 1rem;
  border-radius: .5rem;
  cursor: pointer;
}
.logout-btn{
  display: flex;
  align-items: center;
  gap: .5rem;
  text-decoration: none;
  color: #ff4f00;
  color: #000000;
}
.logout:hover{
  background-color: #ff510021;
  color: #ff4f00;
}

.logout-modal{
  display: none; 
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); 
  box-shadow: 0 15px 50px 0 rgba(0,0,0,.35);
}

.modal-content-logout {
  background-color: #fff;
  margin: 15% auto;
  padding: 2rem 1.2rem;
  border-radius: .7rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  width: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.modal-buttons {
  display: flex;
  justify-content: center;
  gap: .9rem;
  margin-top: 20px;
}

.modal-buttons button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cancel-btn{
  background-color: #ff4f00;
  color: white;

}

/* .modal-buttons button:first-child {
} */

/* .modal-buttons button:last-child {
  background-color: #ddd;
  color: black;
} */

.modal-buttons button:hover {
  opacity: 0.8;
}


.main-content {
  flex: 1;
  padding: 4rem;
  background-color: #fff;
  overflow-y: scroll;
  background-color: #f6f8fa;
}


.task-input {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}

.new-task-input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.add-task-btn {
  /* padding: 10px 20px; */
  background-color: #ff4f00;
  color: #fff;
  border: none;
  border-radius: .5rem;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
  /* display: flex; */
  gap: .5rem;
  font-size: 1rem;
}

.add-task-btn:hover {
  background-color: #D24304;
  color: #ebe9df;
}

.task-list {
  margin-top: 20px;
}

.task-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  background-color: #fafafa;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
}

.task-item input[type="checkbox"] {
  margin-right: 15px;
}

.task-details {
  flex: 1;
}

.task-title {
  font-size: 16px;
  font-weight: 500;
  color: #333;
}

.task-date {
  font-size: 12px;
  color: #999;
  margin-top: 5px;
}


.main-content {
  padding: 2rem 1.25rem 1.25rem 1.25rem;
  background-color: #fff;
}





.greeting {
  font-size: 1.5rem;
  margin-bottom: .2rem;
  font-weight: 500;
}
.date{
  font-size: .9rem;
  color: #555;
}
.main-header{
  margin-bottom: 1rem;
}

.top-bar{
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 2rem;
  gap: 1rem
}


.filter-section {
  opacity: 0;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 1rem;
  /* background-color: #fff; */
  /* border-radius: .5rem; */
}

.filter-section i {
  padding: .5rem .7rem;
  background-color: #fff;
  color: #000;
  border-radius: .5rem;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  padding: 10px 20px;
  background-color: #eaeaea5f;
  color: #000;
  border: none;
  border-radius: .5rem;
  text-decoration: none;
  font-size: .9rem;
  font-weight: 500;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: .5rem;
  z-index: 1;
}

.dropdown-content a {
  color: #000;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  /* border-radius: .5rem; */
  background-color: #eaeaea5f;
  font-size: .8rem;
  cursor: pointer;
}

.dropdown-content a:hover {
  background-color: #9999993a;
  /* color: white; */
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #9999993a;
  /* color: white; */
}





.kanban-board {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.kanban-column {
  /* flex: 1; */
  background-color: #f5f5f5;
  border-radius: .7rem;
  padding: 10px;
  min-width: 300px;
  max-width: 300px;
  min-height: 200px;
  height: fit-content;
}

.kanban-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  margin-bottom: 10px;
  font-weight: 550;
  background-color: #fff;
  columns: #555555;
  border-radius: .7rem;
  padding: 6px 10px;
  /* padding: 0px 0px; */
}
.kanban-header h3{
  font-size: .9rem;
  font-weight: 550;
  display: flex;
  gap: .5rem;
  align-items: center;
  padding: 10px 10px;
}
.kanban-header h3 i{
  color: #555555;
  font-weight: 600;
  font-size: 1rem;
}
.add{
  font-size: .8rem;
  font-weight: 500;
  cursor: pointer;
  padding: 10px 20px;
  background-color: #eaeaea5f;
  border-radius: .7rem;
}
.add:hover{
  background-color: #9999993a;
}

.kanban-header i {
  cursor: pointer;
  color: #ff4f00;
}

.kanban-tasks {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.no-task-placeholder{
  font-size: 0.8rem;
  padding: 1rem;
  color: #555555b8;
  /* display: flex; */
  align-items: center;
  /* gap: 1rem; */
}


.task-card {
  background-color: #fff;
  padding: 1rem 20px;
  border-radius: .7rem;
  /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); */
  display: flex;
  flex-direction: column;
}
.task-card-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edit-section {
  position: relative;
  cursor: pointer;
  display: inline-block;
}

.edit-dropdown {
  display: none;
  position: absolute;
  top: 20px;
  right: 0;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: .7rem;
  overflow: hidden;
  z-index: 1;
  min-width: 120px;
}

.edit-dropdown button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 8px 1rem;
  border: none;
  background-color: transparent;
  border-radius: 0;
  cursor: pointer;
  font-size: .8rem;
  text-align: left;
  margin: .2rem 0;
}

.edit-dropdown button:hover {
  background-color: #f4f4f4;
}

.edit-dropdown i {
  margin-right: 8px;
}

.edit-section:hover .edit-dropdown {
  display: block;
}

.fa-ellipsis-vertical {
  font-size: 20px;
  color: #555;
  padding: 8px;
  cursor: pointer;
}

.edit-task-btn {
  color: #000;
}

.delete-task-btn{
  color: #e53e3e;
}


.task-status {
  font-weight: 500;
  /* color: #555; */
  padding: 5px 13px;
  background-color: #eaeaea5f;
  border-radius: .7rem;
  font-size: .7rem;
  width: fit-content;
  margin: .2rem 0;
}
.completed{
  font-weight: 500;
  color: #49a382;
  color: #00a671;
  background-color: #edf9f5;
  /* color: #555; */
}
.pending{
  font-weight: 500;
  color: #36a8fa;
  background-color: #edf4f9;
}
/* .todo{
  font-weight: 500;
  color: #36a8fa;
  background-color: #edf4f9;
} */

.task-title {
  font-size: 1.1rem;
  font-weight: bold;
  margin: .5rem 0 0 0;
}

.task-desc {
  margin: 0.5rem 0 .7rem 0;
  font-size: .9rem;
  color: #555555;
}

.task-priority{
  font-weight: 550;
  display: flex;
  font-size: .8rem;
  gap: .5rem;
  align-items: center;
}
.medium-priority{
  color: #d79449;
}
.low-priority{
  color: #266bcf;
}

.high-priority{
  color: #d75d57;
}
.task-due{
  color: #555555;
  font-size: .8rem;
  display: flex;
  gap: .5rem;
  align-items: center;
  flex: none;
}
.task-metadata{
  display: flex;
  align-items: center;
  gap: .8rem;
  margin: .3rem;
  flex-wrap: wrap;
}

.task-category {
  font-size: 0.8rem;
  font-weight: 500;
  /* color: #555; */
  padding: 5px 13px;
  background-color: #eaeaea85;
  border-radius: .7rem;
  width: fit-content;
}

.mark-complete{
  font-size: .8rem;
  font-weight: 550;
  cursor: pointer;
  padding: 10px 20px;
  background-color: #eaeaea5f;
  border-radius: .7rem;
  border: none;
  margin-top: .8rem;
  display: flex;
  gap: .8rem;
  align-items: center;
  justify-content: center;
}
.mark-complete:hover{
  background-color: #9999993a;
}




.modal {
  display: none;
  align-items: flex-start;
  justify-content: center;
  position: fixed;
  z-index: 10;
  padding-top: 3rem;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}


.modal-content {
  background-color: #f5f5f5;
  margin: 5% auto;
  padding: .8rem 1.25rem;
  border-radius: .7rem;
  width: 80%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
  box-shadow: 0 15px 50px 0 rgba(0,0,0,.35)
}

#task-form{
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  background-color: #fff;
  border-radius: .7rem;
  padding: 1rem 20px;
}

#task-title{
  font-size: .9rem;
  font-weight: 500;
}

input, textarea, select {
  font-size: .9rem;
  width: 100%;
  border: 1px solid #e6e6e6;
  /* border: none; */
  border-radius: .7rem;
  /* background-color: #f5f5f5; */
  padding: .7rem 1rem;
  font-family: "Inter", sans-serif;
}
/* #due-date{
  width: fit-content;
  border: 1px solid #ccc;
  background-color: #fff;
  
  } */
  .add-metadata{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: .5rem;
    flex-wrap: wrap;
  }
  
  .add-metadata input, .add-metadata select{
  padding: .5rem .7rem;
  width: fit-content;
  border: 1px solid #e6e6e6;
  background-color: #fff;
  border-radius: 7px;
  font-size: .8rem;
}
.add-modal-btns{
  width: 100%;
  display: flex;
  align-items: center;
  gap: .6rem;
  padding: .5rem 0;
  border-top: 1px solid #e5e5e5;
  justify-content: flex-end;
}
.add-modal-btns button{
  /* flex-grow: 1; */
  border: none;
  padding: .6rem .8rem;
  border-radius: .7rem;
  cursor: pointer;
}
/* #priority{
  padding: .7rem 1rem;
  border-radius: .7rem;
} */

textarea {
  resize: vertical;
  /* resize: none; */
  height: 6rem;
  font-size: .8rem
}

.submit-btn {
  background-color: #ff4f00;
  color: white;
  
}
.cancel-btn-add-modal{
  background-color: #fff;
  color: #000;
}

.submit-btn:hover {
  background-color: #D24304;
}

.cancel-btn-add-modal:hover{
  background-color: #f5f5f5;
}




#save-category-btn {
  margin-top: 5px;
  padding: 5px 10px;
  background-color: #2196F3;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.popup-modal {
  position: fixed;
  top: 2.5rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffffff;
  color: #000000;
  padding: 1rem 20px;
  border-radius: .7rem;
  font-size: 16px;
  z-index: 1000;
  box-shadow: 0 15px 50px 0 rgba(0,0,0,.35);
  font-size: .9rem;
  display: flex;
  display: none; 
  gap: .5rem;
  align-items: center;
}

.popup-modal.show {
  display: flex; 
  gap: .5rem;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.popup-modal.fade-out {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.sync-txt {
  color: #555555;
  padding: 1rem 0;
  border-radius: .8rem;
  /* box-shadow: 0 15px 50px 0 rgba(0,0,0,.35); */
  font-size: .8rem;
  /* display: none;  */
  opacity: 0;
  gap: .5rem;
  /* align-items: center; */
}

.sync-modal.show {
  display: flex; 
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

#sync{
  display: flex;
  gap: .5rem;
  align-items: center;
}
#sync .loader{
  width: 12px;
  border: 2px solid #555555;
}



@media screen and (max-width: 750px) {
  .sidebar{
    width: 0;
    display: none;
  }
  .sidebar-collapse{
    width: 250px;
    background-color: #fafafa;
    background-color: #f5f5f5;
    padding: 18px;
    display: flex;
    flex-direction: column;
    height: 100% - 57.8px;
    transition: width .6s ease-out;
    position: absolute;
    /* border-right: 1px solid #ddd; */
  
  }

  .hamberger{
    position: absolute;
    display: block;
    left: 1rem;
    top: 4.5rem;

  }
  .hamberger-collapse{
    display: none;
  }
   
}
@media screen and (max-width: 500px) {
  
.navbar{
  padding: .8rem 1rem;
}

.logo{
  font-size: 1.1rem;
}

.socials{
  display: flex;
  gap: .5rem;
  align-items: center;
}

.socials a{
  padding: .3rem .5rem;
  border-radius: .5rem;
  /* border-radius: 10rem; */
  font-size: .8rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 6px;
}
.socials a i{
  font-size: 1rem;
}

.twitter-btn{
  color: #fffdf9;
  background-color: #ff4f00;
  border: 1px solid #ff4f00;
  /* font-weight: 00; */
}
.twitter-btn:hover{
  color: #fffdf9;
  background-color: #D24304;
  border: 1px solid #D24304;
  /* box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.03); */
  /* font-weight: 00; */
}
.github-btn{
  color: #201515;
  border: 1px solid #201515;
}
.github-btn:hover{
  background-color: #dbdbdb;
}

}

.loader {
  width: 30px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 3px solid #514b82;
  animation:
    l20-1 0.8s infinite linear alternate,
    l20-2 1.6s infinite linear;
}
@keyframes l20-1{
   0%    {clip-path: polygon(50% 50%,0       0,  50%   0%,  50%    0%, 50%    0%, 50%    0%, 50%    0% )}
   12.5% {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100%   0%, 100%   0%, 100%   0% )}
   25%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 100% 100%, 100% 100% )}
   50%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
   62.5% {clip-path: polygon(50% 50%,100%    0, 100%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
   75%   {clip-path: polygon(50% 50%,100% 100%, 100% 100%,  100% 100%, 100% 100%, 50%  100%, 0%   100% )}
   100%  {clip-path: polygon(50% 50%,50%  100%,  50% 100%,   50% 100%,  50% 100%, 50%  100%, 0%   100% )}
}
@keyframes l20-2{ 
  0%    {transform:scaleY(1)  rotate(0deg)}
  49.99%{transform:scaleY(1)  rotate(135deg)}
  50%   {transform:scaleY(-1) rotate(0deg)}
  100%  {transform:scaleY(-1) rotate(-135deg)}
}
